@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?kbpqrp');
  src:  url('fonts/icons.eot?kbpqrp#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?kbpqrp') format('truetype'),
    url('fonts/icons.woff?kbpqrp') format('woff'),
    url('fonts/icons.svg?kbpqrp#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox-filled:before {
  content: "\e917";
}
.icon-dropdown-spinner:before {
  content: "\eb23";
}
.icon-caret-down:before {
  content: "\e905";
}
.icon-caret-up:before {
  content: "\e903";
}
.icon-desc:before {
  content: "\e904";
}
.icon-asc:before {
  content: "\e902";
}
.icon-sort:before {
  content: "\e901";
}
.icon-edit:before {
  content: "\e60d";
}
.icon-picture:before {
  content: "\e70e";
}
.icon-search:before {
  content: "\f002";
}
.icon-close:before {
  content: "\e935";
}
.icon-plus:before {
  content: "\e936";
}
.icon-minus:before {
  content: "\e938";
}
.icon-check:before {
  content: "\e934";
}
.icon-checkmark:before {
  content: "\e937";
}
.icon-chevron-left:before {
  content: "\e93b";
}
.icon-chevron-right:before {
  content: "\e93c";
}
.icon-chevron-up:before {
  content: "\e939";
}
.icon-chevron-down:before {
  content: "\e93a";
}
.icon-dropdown-delete:before {
  content: "\e92a";
}
.icon-dropdown-chevron:before {
  content: "\f0d7";
}
